.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: azure;
}

.enroll-h2 {
  margin-bottom: 20px;
}

.enroll-button {
  padding: 10px 20px;
}

.stats {
  color: white;
  font-size: 0.9rem;
  background-color: rgba(45, 159, 253, 0.589);
  display: flex;
  background: linear-gradient(to top right, rgb(15, 146, 221), #055991);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.final {
  margin-top: 5px;
  background-color: rgb(55, 107, 126);
  padding: 5px;
  padding-top: 5px;
  border-radius: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  width: 184.5px;
  margin-left: auto;
  text-align: left;
}

.options {
  padding-bottom: 15px;
}

.options-header {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-item {
  padding: 8px 15px;
  border: 1px solid #2898ec;
  border-radius: 25px;
  color: #1f91e7;
  font-size: 0.9rem;
  margin: 3px;
  box-shadow: inset 0px 0px 0px #2273c4;
  transition: all 0.5s;
  cursor: pointer;
}

.option-item:hover {
  box-shadow: inset 195px 0px 0px #2273c4;
  color: #ffffff;
}